@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
  font-family: 'Poppins';
}
body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

strong{
  color: #EB6A3F;
}


.App{
  display: flex;
  width: 100%;
  height: 100%;
}

.quickactions{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 2.5%;
  background-color: white;
  padding: 10px;
  margin: 5px;
  z-index: 10;
  border-radius: 30px;
}

.quickactions img{
  padding: 5px;
  height: 20px;
}

.quickactions strong{
  color: #EB6A3F;
}

.navpanel{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  margin: 10px;
  min-width: 20%;
  height: 97vh;
  border-radius: 10px;
  background-color: #FFF7E7;
}

.navpanel img{
  height: 10%;
  width: 40%;
}

.menuItems{
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
}

.menuItem{
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  align-items: center;
}

.menuItem img{
  height: 3vh;
  width: 3vh;
  padding: 15px;
  filter: grayscale(100%);
}

.menuItem button{
  background-color: #ffffff00;
  border: none;
  font-size: 15px;
  padding-right: 8px;
}

.menuItem:hover img{
  filter: grayscale(0%);
}

.menuItem:hover p{
  color: orange;
}

.menuItem:focus-within{
  background-color: white;
}

.menuItem:focus-within img{
  filter: grayscale(0%);
}

.menuItem:focus-within p{
  color: orange;
}

.pageContent{
  position: relative;
  margin-left: 22%;
  margin-top: 3%;
  margin-right: 2%;
}

.catalogue strong{
  color: #EB6A3F;
  font-size: larger;
}

.spotlightscroll{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 10px;
  padding-right: 10px;
}

.spotlightscroll .panel{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  min-width: 40%;
  min-height: 40%;
  background-image: url('./icons/placeholder1.png');
  background-size: cover;
  border-radius: 10px;
  padding-top: 10%;
}

.spotlightscroll .panel strong{
  color: white;
  margin: 10px;
  font-size: small;
}

.spotlightscroll .panel p{
  color: white;
  margin: 10px;
  font-size:x-small;
}

.spotlightscroll .panel button{
  background-color: #EB6A3F;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: x-small;
  color: white;
  border-radius: 10px;
}

.recommended{
  margin-top: 10px;
}

.recommendedscroll{
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  overflow-x: scroll;
}

.recommendedscroll .panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF7E7;
  padding: 10px;
  border-radius: 10px;
  margin-right: 15px;
  min-width: 25%;
  min-height: 25%;
  max-height: 25%;
  max-width: 25%;
}

.recommendedscroll .panel img{
  max-width: 100%;
  max-height: 100%;
}

.recommendedscroll .panel p{
  font-size: x-small;
}

.recommendedscroll .panel strong{
  font-size: small;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-color: black;
  background:#EB6A3F;
  border:4px solid white;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3a292;
}

.courseheader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shortinfo{
  width: 40%;
}

.shortinfo .time{
  background-color: rgb(84, 20, 84);
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  max-width: fit-content;
  max-height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.shortinfo .time img{
  height: 20px;
  width: 20px;
  padding-right: 5px;
}

.shortinfo .time p{
  color: white;
  font-size: x-small;
}

.pay{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF7E7;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}

.pay strong{
  font-size: larger;
}

.pay button{
  background-color: #EB6A3F;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: auto;
}

.coursecontent{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
}

.coursecontent img{
  max-width: 90%;
  max-height: 90%;
  margin: 20px;
}

.landing{
  width: 100vh;
  height: 100vh;
}
.navbar{
  display: flex;
  flex-direction: row;
}