@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
  font-family: 'Poppins';
}
body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

strong{
  color: #EB6A3F;
}


.App{
  display: flex;
  width: 100%;
  height: 100%;
}

.quickactions{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 2.5%;
  background-color: white;
  padding: 10px;
  margin: 5px;
  z-index: 10;
  border-radius: 30px;
}

.quickactions img{
  padding: 5px;
  height: 20px;
}

.quickactions strong{
  color: #EB6A3F;
}

.navpanel{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  margin: 10px;
  min-width: 20%;
  height: 97vh;
  border-radius: 10px;
  background-color: #FFF7E7;
}

.navpanel img{
  height: 10%;
  width: 40%;
}

.menuItems{
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
}

.menuItem{
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  align-items: center;
}

.menuItem img{
  height: 3vh;
  width: 3vh;
  padding: 15px;
  filter: grayscale(100%);
}

.menuItem button{
  background-color: #ffffff00;
  border: none;
  font-size: 15px;
  padding-right: 8px;
}

.menuItem:hover img{
  filter: grayscale(0%);
}

.menuItem:hover p{
  color: orange;
}

.menuItem:focus-within{
  background-color: white;
}

.menuItem:focus-within img{
  filter: grayscale(0%);
}

.menuItem:focus-within p{
  color: orange;
}

.pageContent{
  position: relative;
  margin-left: 22%;
  margin-top: 3%;
  margin-right: 2%;
}

.catalogue strong{
  color: #EB6A3F;
  font-size: larger;
}

.spotlightscroll{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 10px;
  padding-right: 10px;
}

.spotlightscroll .panel{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  min-width: 40%;
  min-height: 40%;
  background-image: url('./icons/placeholder1.png');
  background-size: cover;
  border-radius: 10px;
  padding-top: 10%;
}

.spotlightscroll .panel strong{
  color: white;
  margin: 10px;
  font-size: small;
}

.spotlightscroll .panel p{
  color: white;
  margin: 10px;
  font-size:x-small;
}

.spotlightscroll .panel button{
  background-color: #EB6A3F;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: x-small;
  color: white;
  border-radius: 10px;
}

.recommended{
  margin-top: 10px;
}

.recommendedscroll{
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  overflow-x: scroll;
}

.recommendedscroll .panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF7E7;
  padding: 10px;
  border-radius: 10px;
  margin-right: 15px;
  min-width: 25%;
  min-height: 25%;
  max-height: 25%;
  max-width: 25%;
}

.recommendedscroll .panel img{
  max-width: 100%;
  max-height: 100%;
}

.recommendedscroll .panel p{
  font-size: x-small;
}

.recommendedscroll .panel strong{
  font-size: small;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-color: black;
  background:#EB6A3F;
  border:4px solid white;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3a292;
}

.courseheader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shortinfo{
  width: 40%;
}

.shortinfo .time{
  background-color: rgb(84, 20, 84);
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  max-width: fit-content;
  max-height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

.shortinfo .time img{
  height: 20px;
  width: 20px;
  padding-right: 5px;
}

.shortinfo .time p{
  color: white;
  font-size: x-small;
}

.pay{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF7E7;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}

.pay strong{
  font-size: larger;
}

.pay button{
  background-color: #EB6A3F;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: auto;
}

.coursecontent{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
}

.coursecontent img{
  max-width: 90%;
  max-height: 90%;
  margin: 20px;
}

.navbar{
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: fit-content;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar button{
  background-color: white;
  border-color: #EB6A3F;
  padding: 10px;
  color: #EB6A3F;
  border-radius: 10px;
}

.navbar img{
  width: 10%;
  height: 10%;
  
}

.navbar p{
  font-size: medium;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar p:hover{
  color: #EB6A3F;
}

.navbar .button:focus-within p{
  color: #EB6A3F;
}

.home{
  margin-top:  5% !important;
}

.home .section1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  margin-bottom: 10%;
  background: linear-gradient(180deg, #FFF1D5 0%, #FFFFFF 100%);
}

.home .section1 .left{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.home .section1 img{
  margin-top: 10%;
  height: 80%;
  width: 80%;
  margin: 10px;
}

.home .section1 button{
  background-color: #EB6A3F;
  border: none;
  border-radius: 10px;
  color: white;
  max-width: fit-content;
  padding: 20px;
  font-size: large;
}

.home .section2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home .section2 h1{
  margin-left: 0;
  color: #EB6A3F;
}

.home .section2 strong{
  color: #521986;
}

.boxes{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boxes img{
  width: 80%;
}

.box1{
  background-color:#FFF1D5;
  color:#EB6A3F;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  width: 20%;
  border: solid 2px;
  border-color: #EB6A3F;
}

.box2{
  background-color: #EB6A3F;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  width: 20%;
}

.box3{
  background-color:#FFF1D5;
  color:#EB6A3F;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  margin: 20px;
  border: solid 2px;
  border-color: #EB6A3F;
}

.home .section3{
  margin-top: 10%;
}

.home .section3 img{
  width: 100%;
}

.home .section3 .text{
  position: absolute;
  margin-top: 10%;
  margin-left: 10%;
  width: 20%;
}

.home .section3 h1{
  color: #EB6A3F;
  font-size: x-large;
  position: absolute;
}

#t1{
  margin-left: 15%;
  margin-top: 46%;
}

#t2{
  margin-left: 25%;
  margin-top: 40%;
}
#t3{
  margin-left: 45%;
  margin-top: 35%;
}
#t4{
  margin-left: 62%;
  margin-top: 31%;
}
#t5{
  margin-left: 72%;
  margin-top: 26%;
}
#t6{
  margin-left: 77%;
  margin-top: 22%;
}

.home .section4{
  background: linear-gradient(219.96deg, #FFCEBD -5.95%, #FFFFFF 107.57%);
  border-radius: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.home .section4 .content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content .tabs{
  display: flex;
  flex-direction: column;
}

.content .tabs div{
  border-radius: 5px;
  border: solid 2px;
  border-color: #EB6A3F;
  color: #EB6A3F;
  font-size: x-large;
  padding: 20px;
  margin: 10px;
}

.content img{
  width: 50%;
  height: 50%;
  margin-left: 100px;
}

.home .section5{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.home .section5 img{
  width: 40%;
  height: 40%;
  padding: 30px;
}

.home .section5 .text{
  width: 20%;
}

.home .section5 .outline{
  position: absolute;
  min-height: 60%;
  min-width: 50%;
  border: 15px solid rgba(235, 106, 63, 0.2);
border-radius: 50px;
  z-index: -1;
  left: 35%;
}

.home .section6{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
}

.home .section6 div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home .section6 img{
  width: 25%;
  padding: 30px;
}

.courses .header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.courses .header img{
  width: 10%;
  z-index: 10;
}

.courses .vector7{
  margin-right: 10%;
  margin-top: 1%;
  width: 20% !important;
  z-index: 1 !important;
}

.courses .text{
  width: 30% !important;
  margin-left: 10%;
  margin-top: 5%;
  z-index: 1 !important;
}

.bigcloud{
  position: absolute;
  right: 0;
  width: 40% !important;
  z-index: 0 !important;
  top: 0;
}

.smallcloud{
  position: absolute;
  right: 20%;
  top: 18%;
  width: 40% !important;
  z-index: 0 !important;
}

.courselist .course{
  display: flex;
  flex-direction: row;
  background-color:#FFF7E7;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.courselist .course img{
  width: 20%;
  height: 20%;
  margin: 10px;
}

.courselist .course .buy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courselist .course .buy button{
  width: 300px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #EB6A3F;
  color: white;
}

.course .buy strong{
  font-size: xx-large;
}

.collaborations .section1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.collaborations .section1 h1{
  font-size: medium;
}

.collaborations .section1 .left{
  margin: 7%;
}

.collaborations .section1 .vector8{
  position: absolute;
  right: 0;
  top: 10%;
  width: 80%;
  height: 80%;
}

.collaborations .section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 25%;
}

.collaborations .section2 img{
  width: 30%;
  height: 30%;
  margin-right: 30px;
}

.collaborations .section2 p{
  width: 30%;
}

.collaborations .section3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
}

.collaborations .section3 p{
  font-size: xx-large;
  position: relative;
  color: #EB6A3F;
}
.collaborations .section3 strong{
  color: #521986;
  font-weight: normal;
}

.collaborations .section3 .container{
  display: flex;
  flex-direction: row;
  margin:30px;
}

.collaborations .section3 .sub{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collaborations .section3 u{
  margin-bottom: 10%;
}

.collaborations .section3 img{
  width: 60%;
}

.collaborations .section4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
} 

.collaborations .section4 .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.collaborations .section4 .left{
  max-width: 40%;
  max-height: 40%;
}

.collaborations .section4 .right{
  max-width: 32%;
  max-height: 32%;
}

.about .section1{
  background: linear-gradient(219.96deg, #FFECC4 -5.95%, #FFD6C9 107.57%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  padding: 4%;
}

.about .section2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .section2 img{
  position: absolute;
  left: 0;
  height: 70%;
  z-index: -1;
}

.about .section2 p{
  font-size: xx-large;
}

.about .section2 .container p{
  margin-top: 5%;
  margin-left: 28%;
  font-size: medium;
}

.about .section3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .section3 img{
  position: absolute;
  right: 0;
  height: 70%;
  z-index: -1;
}

.about .section3 p{
  font-size: xx-large;
}

.about .section3 .container p{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 25%;
  font-size: medium;
}


